@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');
:root{
    /* Colores */
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;
    --grisclaro: #DFE9F3;
    
    /* Fuentes */
    --FuenteTitulo:'Lobster',cursive;
    --FuenteMain:'Krub', sans-serif;

}
html{
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}
body{
    font-size: 16px;
    font-family: var(--FuenteMain);
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco)100%);
/* background-color: #757575; */
}
/* 1 REM === 10 PX */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
}
h3{
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;

}
main h2{
    margin: 2rem 0;
}
.titlemain{
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;
}

/* .titulo{
    visibility: collapse;
    text-align: center;
    font-family: var(--FuenteTitulo);
    font-size: 3.9rem;
} */
.span{
    font-size: 20px;
    font-size: 2.5rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
}

.nav-background{
    background-color: var(--secundario);
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media (min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}


.hero{
    background-image: url(../Images/cabezadoperfil.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    height:30rem;
    position: relative;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .hero{
        height: 60rem;
        background-size:cover;
        margin-bottom:2rem;
    }
}

.contenido-hero{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.887);
/* display: flex; */
/* flex-direction:row; */
/* align-items: center; */
text-align: center;
}
.encabezado{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.foto{
    width: 15rem;
    height: 15rem;
    background-image: url(../Images/fotocv.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    margin: 2rem 0;
}
@media (min-width: 768px) {
   
    .foto{
        width: 30rem;
        height: 30rem;
        background-image: url(../Images/fotocv.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin: auto;
    }
    .textos{
        width:100%;
        /* margin: 0 10rem 15rem 0; */
        text-align: c;
    }
    .title{
        font-family: var(--FuenteTitulo);
        color: var(--blanco);
        font-size: 5rem;
        padding-top: 10rem;
        font-size: 8rem;      
        
    }
    .textos p{
            color: var(--blanco);
        }
    
    .nombre{
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 1rem;
    }
    .skills{
        font-size: 2rem;
        font-weight: 700;
        margin-top: .5rem;
    }
    .linea{
        width: 70%;
        margin: auto;
        margin-top: 30rem;
    }
    .sobremi{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    .mytitle,.titlePerfil,.titleSkills{
        font-size: 4rem;
        font-weight: 700;
    }
    .mytext,.perfil-P{
        text-align: justify;
        font-size: 2rem;
        line-height: 28px;
    }
    .perfil{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;;
    }
    .SkillsContainer{
        width: 100%;
        margin: 0 auto; 
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        row-gap: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .img-perfil1{
        width: 100%;
        height: 30rem;
        background-image: url(../images/frontend_text_2.jpg);
        background-position: center;
        background-size: cover;
    }
    .img-perfil2{
        width: 100%;
        height: 50rem;
        background-image: url(../images/Wavy_Trv-02_Single-09.jpg);
        background-size: cover;
        background-position: bottom;
    }
    .imgsperfil{
        padding-top: 6rem;
        gap: 5rem;
    }
    .certificaciones{
        background-color: var(--secundario);
        height: 35rem;
        border-radius: 15px;
    }
    .certificaciones-container{
        width: 100%;
        display: grid;
        row-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
    
}
.encabezado h1{
margin: 0;
color: var(--blanco);
}
.textos p{
    color: var(--blanco);
}

.html-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnA86aYCk/1/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.css-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnA996b1c/1/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.js-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnAwcGFgU/1/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.boot-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnBvH34Eo/3/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.ts-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnA5ypSrY/1/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.git-imgs{
    display: flex;
    gap: 5px;
}
.git-img{
    width: 6.5rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnBvvZQ_k/3/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.github{
    width: 6.5rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/mdRJQ/MAFQoymdRJQ/1/t.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: auto;
}
.php-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnBmCepr0/3/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    margin: auto;
}
.mysql-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnBklMHqI/3/thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.react-img{
    width: 7rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnAyN3WV0/1/thumbnail.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.node-img{
    width: 6rem;
    height: 6.5rem;
    background-image: url(https://media-public.canva.com/MADnA22KqQY/1/thumbnail_large.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.platzi-img{
    width: 20rem;
    height: 10rem;
    background-image: url(https://static.platzi.com/static/images/footer/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.udemy-img{
    width: 20rem;
    height: 10rem;
    background-image: url(https://cdn.freebiesupply.com/logos/thumbs/2x/udemy-2-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.pamplona-img{
    width: 20rem;
    height: 10rem;
    background-image: url(https://www.unipamplona.edu.co/unipamplona/portalIG/home_10/recursos/2014/20112014/logo_upa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.mintic-img{
    width: 20rem;
    height: 10rem;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c2/MinTIC_%28Colombia%29_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.uts-img{
    width: 20rem;
    height: 10rem;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/41/Unidades_Tecnol%C3%B3gicas_de_Santander_%28UTS%29_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.coex-img{
    width: 25rem;
    height: 10rem;
    background-image: url(../Images/logo\ -\ coex.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.nameskill{
    text-align: center;
    padding-top: 1.5rem;
    font-family: var(--FuenteMain);
    font-weight: 700;
    color: var(--blanco);
    font-size: 2rem;
}
.Skills{
    background-color: var(--negro);
    width: 100%;
    border-radius: 15px;
}
.titleSkills{
    color: var(--blanco);
    padding-top: 2rem;
}

.footer{
    text-align: center;
    margin-top: 2rem;
}
.footer p{
    font-family: var(--FuenteTitulo);
    font-weight: 700;
    font-size: 2rem;
}