@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');
:root{
    /* Colores */
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;
    --grisclaro: #DFE9F3;
    
    /* Fuentes */
    --FuenteTitulo:'Lobster',cursive;
    --FuenteMain:'Krub', sans-serif;

}
html{
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}
body{
    font-size: 16px;
    font-family: var(--FuenteMain);
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco)100%);

}
/* 1 REM === 10 PX */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
}
h3{
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;

}
main h2{
    margin: 2rem 0;
}
.titlemain{
    margin-bottom: 2rem;
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;
}

.titulo{
    text-align: center;
    font-family: var(--FuenteTitulo);
    font-size: 3.9rem;
}
.span{
    font-size: 20px;
    font-size: 2.5rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
}

.nav-background{
    background-color: var(--secundario);
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media (min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

.hero{
    background-image: url(../Images/inicio.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    height:35rem;
    position: relative;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .hero{
        height: 45rem;
        background-size:cover;
        margin-bottom:2rem;
    }
}

.contenido-hero{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, .7);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.contenido-hero h2{
    color: var(--blanco);
    font-size: 3rem;
    padding-top: 2.8rem;
}
@media (min-width: 768px) {
    .contenido-hero h2{
        font-size:5rem
    }
}
.ubicacion{
    display: flex;
    align-items: flex-end;
    margin-top: 5rem;
}
.location{
    color: var(--blanco);
    font-size: 1.5rem;
    font-weight: 700;
}
.bandera{
    width: 3rem;
    height: 3rem;
    background-image: url(../Images/colombia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: .5rem 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    
    .ubicacion{
        margin-top: 5rem;
    }
    .location{
        color: var(--blanco);
        font-size: 2rem;
        font-weight: 700;
    }

    .boton{
        padding: 1rem 3rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.boton:hover{
    background-color: var(--primario);
    color: var(--negro);
}
@media (min-width: 1140px) {
    .servicios,.nav-principal,.contacto,.footer{
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.servicio h3{
    color: var(--secundario);
    font-weight: 400;
}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
}
    .campo:nth-child(5){
        grid-column: 1/3;
    }
    .enviarr{
        grid-column: 1/3;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text,.textarea{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    
}
.enviar{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    /* margin-top: 2rem; */
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
}
.enviar:hover{
    background-color: var(--primario);
    color: var(--negro);
    cursor: pointer;
}
.campo textarea{
    height: 15rem;
}
.footer{
    text-align: center;
    margin-top: 2rem;
}
.footer p{
    font-family: var(--FuenteTitulo);
    font-weight: 700;
    font-size: 2rem;
}